out/**/*.d.ts
out/test/**
.editorconfig
.gitignore
package-lock.json
yarn.lock
tsconfig.json
tslint.json
.travis.yml

.vscode/**
src/**
smoke/**

# csscomb submodule
csscomb.js/**
!csscomb.js/config
!csscomb.js/lib
