.test {
			$variable: 1;
	margin-bottom: 0.5em;
	display: none;
	padding: 0em;
	color: #fff;

		text-transform: none;

		&.nested {
			display: none;
			content: $variable;
		}

	text-align: center;
}

.remove-me {

}
